
/*  Initialize  */

body {
    background-color:black;
    padding: 0;
    margin: 0;
}


.hidden {
    display: none;
}





/*  Title Section   */
#title-section {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 10px;
    margin: 0;
    border-bottom: solid 1px #a8a8a8;
}

#title-text {

    font-family: 'Courier New';
    font-size: 2.4em;
    font-weight: 300;
    color: cyan;
    float: left;
    background-image: url('/assets/img/logo.png');
    background-position: left;
    background-repeat: no-repeat;
    height: 60px;
    padding-left: 102px;
    padding-top: 0px;
}

#area-text {
    color: magenta;
    margin-left: 12px;
    font-family: Courier New, Courier, monospace;
    font-size: 3em;
    float: left;
    padding: 0;
}



/*          Viewer Section                          */
#viewer {
    
    margin-top: 81px;       /*   = title-section height + padding-top + padding-bottom + border.       */
    overflow: hidden;       /*   If the image wants to leak out and cause scrollies, prevent it!   */
}


/*  Stretch Mode    */
[data-viewer-mode="stretch"] {

    width: 100%;
    height: 100%;
}





/*          Used by both controls and status    */
.nice-wrap {

    font-family: Impact, Charcoal, sans-serif;
    padding: 3px;
    border: solid 1px white;
    opacity: 0.625;
    border-radius: 5px;
    z-index: 10000;
    margin: 10px;
}


/*          Status Section                    */
#status {

    position: fixed;
    left: 0;
    top: 150px;
    border: none;
    margin-top: 0;
}

.status-title {

    font-size: 1.4em;
    color: white;
}

.status-status {

    font-size: 1em;
}

.status-not-running {

    color: red;
}

.status-running {

    color: green;
}





/*          Controls Section                    */
.btn {

    cursor: pointer;
    font-size: 1.4em;
}

.dir-btn {

    cursor: pointer;
    font-size: 1.4em;
    background-color: white;
    color: black;
    padding-bottom: 8px;
    line-height: 0.6;
}

#start {

    position: fixed;
    top: 225px;
    left: 0;
    color: green;
    background-color: #b0ffa7;
}

#pause {

    position: fixed;
    top: 225px;
    left: 0;
    color: green;
    background-color: #b0ffa7;
}

#zoom-title {

    position: fixed;
    color: white;
    right: 0;
    top: 20%;
    border: none;
}

#faster {

    position: fixed;
    color: blue;
    background-color: #a5b4ff;
    top: 25%;
    right: 0;
    font-size: 1.0em;
}

#slower {

    position: fixed;
    color: purple;
    background-color: #ebc0ff;
    top: 30%;
    right: 0;
    font-size: 1.0em;
}

#location-title {

    position: fixed;
    color: white;
    right: 0;
    top: 65%;
    border: none;
}

#location-capture {

    position: fixed;
    color: #5f5a00;
    background-color: #fffbcd;
    top: 70%;
    right: 0;
    font-size: 1.0em;
}

#color-title {

    position: fixed;
    color: white;
    left: 0;
    top: 65%;
    border: none;
}

#color-random {

    position: fixed;
    color: #965904;
    background-color: #ffdcb7;
    left: 0;
    top: 70%;
    font-size: 1.0em;
}

#west {

    position: fixed;
    top: 50%;
    left: 0;
}

#east {

    position: fixed;
    top: 50%;
    right: 0;
}

#north {

    position: fixed;
    top: 90px;
    left: 50%;
}

#south {

    position: fixed;
    bottom: 0;
    left: 50%;
}


#northwest {

    position: fixed;
    top: 90px;
    left: 0;
}

#northeast {

    position: fixed;
    top: 90px;
    right: 0;
}

#southwest {

    position: fixed;
    bottom: 0;
    left: 0;
}

#southeast {

    position: fixed;
    bottom: 0;
    right: 0;
}
