
/*  Initialize  */

body {
    background-color:black;
    padding: 0;
    margin: 0;
}








/*  Title Section   */
#title-section {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 10px;
    margin: 0;
    border-bottom: solid 1px #a8a8a8;
}

#title-text {

    font-family: 'Courier New';
    font-size: 2.4em;
    font-weight: 300;
    color: cyan;
    float: left;
}

#area-text {

    color: magenta;
    margin-left: 25px;
    font-family: Courier New, Courier, monospace;
    font-size: 3em;
    float: left;
}

#title-logo {

    float: right;
    margin-right: 10px;
}





/*          Viewer Section                          */
#viewer {
    
    margin-top: 81px;       /*   = title-section height + padding-top + padding-bottom + border.       */
    overflow: hidden;       /*   If the image wants to leak out and cause scrollies, prevent it!   */
}


/*  Stretch Mode    */
[data-viewer-mode="stretch"] {

    width: 100%;
    height: 100%;
}